h1, h2, h3, h4, a, p, span {
    font-family: 'Source Sans Pro', sans-serif !important;
}

#header .sidebar--active{
    display:block !important;
}

#header .sidebar {
    width: 100%;
    height:100%;
    z-index: 3000;
    left: 0%;
}


#header .navbar .navbar-nav {
    display: inline-block;
    float: right !important;
    vertical-align: top;
}

.button--community{
    color: white !important;
    background-color:#034B75;
    border-radius: 100px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    margin: 20px auto;
}

.button--community:hover{
    color:#034B75 !important;
    background-color:white;
    border-radius: 100px;
    border: 1px solid #034B75;
    margin: 20px auto;
}

.jumbo{
    min-height:500px;
}

footer {
    display:flex !important;
}
#modal--keepcontact-form .row{
    padding:10px;
}

.blue--theme{
    ul{
        li{
            color:black !important;
        }
    }
}

@media screen and (max-width: 1036px){
    body .blue--theme {
        display: block !important;
    }
    #mc_embed_signup label, #mc_embed_signup input{
        text-align:center !important;
    }
}

#sidebar--close img{
    width:15px;
    color:white;
}

@media screen and (min-width: 1125px)
{   
    

    #header .sidebar {
        z-index: 8000 !important;
        display: none !important;
    }
}

.modal-dialog{
    padding:20px !important;
}

.newsletter__signup_field{
    margin-top:0 !important;
}

footer ul {
    width:100% !important;
}

.jumbo a {
    margin-top: 40px !important;
    width: 60% !important;
    padding: 5px 10px !important;
    margin:auto;
    max-width:425px;
}

.button--community:focus{
    color: white !important;
    background-color:#034B75 !important;
    border-radius: 100px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    margin: 20px auto;
}


#jumbo-text-holder p {
    min-width: 600px;
}

/*MOBILE ONLY*/

@media screen and (max-width: 675px){
    #jumbo-text-holder p {
        min-width:100%;
    }

    .community-access-btn{
        position:absolute;
        left:50%;
        top:100%;
        transform:translateX( -50% );
    }
    .jumbo #jumbo-text-holder {
        width: 100% !important;
    }
}
.span--changer{
    min-height:220px;
}

.form--community, .form--brand{
    max-width: 900px !important;
}

.modal--form input[name="MESSAGE"] {
    height: 120px !important;
}
.modal--form .row {
    min-width: 320px !important;
}
footer ul:first-of-type img {
    max-width:230px !important;
}

.legal-mentions{
    a {
        font-size: 18px;
        color: #034B75;
        text-decoration: underline;
        display: block;
        margin: auto;
        text-align: center;
    }
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand  {
    margin-left:0 !important;
}

footer ul:last-of-type li:last-of-type{
    width:100% !important;
}
.jumbo article {
    margin:auto !important;
    width: 65% !important;
    .span--changer{
        text-align:center;
    }
}