h1, h2, h3, h4, a, p, span {
    font-family: 'Source Sans Pro', sans-serif !important;
}
.qr-guide p{
    font-size:18px !important;
}

footer ul:first-of-type a .logo--footer{
    margin-left: 5px;
    width: 75px !important;
    margin-top:0 !important;
}

#header .navbar-brand__logo,footer ul:first-of-type img{
    width:120px !important;
}

#header .sidebar--active{
    display:block !important;
}

#header nav ul li a {
   font-size:16px;
}

#modal--keepcontact-form{
    label {
        font-size: 16px;
    }
    input,textarea{
        padding: 6px 12px;
        width:100%;
        font-size: 14px;
    }
    h2{
        font-size: 28px;
        font-weight:bold;
    }
    .g-recaptcha{
        max-width:285px;
        margin:auto;
    }
}
.form--community{
    max-width:600px;
    width:90%;
    margin:auto;
}

#header .sidebar {
    width: 100%;
    height:100%;
    z-index: 3000;
    left: 0%;
}


#header .navbar .navbar-nav {
    display: inline-block;
    float: right !important;
    vertical-align: top;
}

.button--community{
    color: white !important;
    background-color:#034B75;
    border-radius: 100px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    margin: 20px auto;
}

.button--community:hover{
    color:#034B75 !important;
    background-color:white;
    border-radius: 100px;
    border: 1px solid #034B75;
    margin: 20px auto;
}

.jumbo{
    min-height:300px;
}

footer {
    display:flex !important;
}
#modal--keepcontact-form .row{
    padding:10px;
}

.blue--theme{
    ul{
        li{
            color:black !important;
        }
    }
}

@media screen and (max-width: 1036px){
    body .blue--theme {
        display: block !important;
    }
    #mc_embed_signup label, #mc_embed_signup input{
        text-align:center !important;
    }
}

#sidebar--close img{
    width:15px;
    color:white;
}

@media screen and (min-width: 1125px)
{   
    

    #header .sidebar {
        z-index: 8000 !important;
        display: none !important;
    }
}

.modal-dialog{
    padding:20px !important;
}

.newsletter__signup_field{
    margin-top:0 !important;
}

footer ul {
    width:100% !important;
}

.jumbo a {
    margin-top: 40px !important;
    width: 60% !important;
    padding: 5px 10px !important;
    margin:auto;
    max-width:325px;
}

.button--community:focus{
    color: white !important;
    background-color:#034B75 !important;
    border-radius: 100px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    margin: 20px auto;
}


#jumbo-text-holder p {
    min-width: 600px;
}
.signup--btn,.community-access--btn,.community-signup-btn{
    border-radius: 50px;
    padding: 5px 10px !important;
    background-color: var(--main-blue);
    background-color: #034b75;
    color: white;
    margin-top: 25px;
    display: block;
    font-size: var(--btn-font-size);
    text-align: center;
}
.community-access--btn,.community-signup-btn{
    max-width:325px;
    margin:auto;
}

.qr-guide h2{
    font-size: 28px;
    font-weight: bold;
    margin-bottom:32px;
}
.jumbo .illustration-qr{
    width:30%;
    margin:auto;
}

.qr-guide {
    a{
        text-decoration:underline;
        color:#034b75;
    }
    .community-signup-btn{
        color:white;
        text-decoration:none;
    }
}



.blue--theme{
    min-height: 225px !important;
}
.community-access-btn:hover,.community-signup-btn:hover{
    color:white;
    text-decoration:underline;
}
/*MOBILE ONLY*/
@media screen and (max-width: 1125px){
    footer #logo-and-appstore-list li a img {
        width: 20% !important;
    }
}

@media screen and (max-width: 675px){
    footer #logo-and-appstore-list li a img{
        width: 30% !important;
        max-width:150px !important;
    }
   main .jumbo #jumbo-text-holder{
        width:100% !important;
    }
    .illustration-qr{
        display:none;
    }
    #header .navbar-brand__logo,footer ul:first-of-type img{
        width:75px !important;
    }

    #header .navbar-brand__logo_minified{
        width:30px !important;
    }

    #jumbo-text-holder p {
        min-width:100%;
    }
    .jumbo{
        min-height:500px;
    }

    .community-access-btn{
        position:absolute;
        left:50%;
        top:100%;
        transform:translateX( -50% );
    }
    .jumbo #jumbo-text-holder {
        width: 100% !important;
    }
}
.span--changer{
    min-height:220px;
}



.modal--form input[name="MESSAGE"] {
    height: 120px !important;
}
.modal--form .row {
    min-width: 300px !important;
}
footer ul:first-of-type img {
    max-width:230px !important;
}

.legal-mentions{
    a {
        font-size: 18px;
        color: #034B75;
        text-decoration: underline;
        display: block;
        margin: auto;
        text-align: center;
    }
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand  {
    margin-left:0 !important;
}

footer ul:last-of-type li:last-of-type{
    width:100% !important;
}
.jumbo #jumbo-text-holder{
    margin:auto !important;
    width: 65% !important;
    .span--changer{
        text-align:center;
    }
}
.modal-content--editable {
    height: 30vh;
    min-height: 400px;
}

.qr-guide {
    padding: 36px;
    text-align: center;
    background-color: #EEE;
    
    > p {
        font-size: 22px;
    }
    
    ol {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        font-family: 'Source Sans Pro', sans-serif !important;
        
        img {
            max-width: 80%;
            max-height: 150px;
            margin-bottom: 18px;
        }
        
        @media screen and (max-width: 639px) {
            li + li {
                margin-top: 48px;
            }
        }
        
        @media screen and (min-width: 640px) {
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
            li {
                padding: 24px;
                flex: 0 1 33%;
            }
        }
    }
}

input[name="control"] {
	display:none;
}

.success--message,.error--message{
    font-size:32px;
    text-align:center;
}